:host {
  display: block;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.intervention-popup .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}