.vscode/
.DS_Store
.cache/

.env.local
.env.*.local

.thoughts
.thoughts.md
./backend/.thoughts
.todoS
UI-design/
subject.pdf


/config/jwt/*.pem
/phpunit.xml
/phpunit.xml.dist
/coverage/
/clover.xml

/backend/migrations/.latest.php

/frontend/dist/
/frontend/tmp
.angular/
npm-debug.log
yarn-error.log

backend/unittest-output.txt
node_modules/
vendor/
var/
*.log
*.local.json
config/*.json
**/config.json
logs/



*.db

